@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 45% 100%;
    --foreground: 20 44% 10%; /* Dark brown for main text, enhancing readability */

    --muted: 14 100% 93%; /* Very soft orange for less important elements */
    --muted-foreground: 20 44% 10%; /* Dark brown for text on muted elements */

    --popover: 16 86% 63%; /* Warm, mid-tone orange for popovers */
    --popover-foreground: 0 0% 100%; /* White for popover text for contrast */

    --border: 27 90% 88%; /* Light coral for borders */
    --input: 27 90% 88%; /* Light coral for input fields */

    --card: 11 80% 50%; /* Rich, deep orange for cards */
    --card-foreground: 0 0% 100%; /* White for text on cards for contrast */

    --primary: 359 70% 54%; /* Soft red for primary elements */
    --primary-foreground: 0 0% 100%; /* White for text on primary elements */

    --secondary: 32 100% 64%; /* Bright orange for secondary elements */
    --secondary-foreground: 20 44% 10%; /* Dark brown for text on secondary elements */

    --accent: 29 94% 52%; /* Vibrant orange for accents */
    --accent-foreground: 0 0% 100%; /* White for text on accent elements */

    --destructive: 0 79% 61%; /* Warm red for destructive actions */
    --destructive-foreground: 0 0% 100%; /* White for text on destructive elements */

    --ring: 32 100% 64%; /* Bright orange for focus rings */

    --radius: 0.5rem; /* Border radius for elements */
  }

  .dark {
    --background: 190, 50%, 5%;
    --foreground: 190 100% 91%; /* Primary color */

    --muted: 190 50% 30%; /* Muted shade based on primary color */
    --muted-foreground: 190 50% 70%; /* Lighter shade for text on muted background */

    --accent: 190 100% 50%; /* Brighter accent based on primary color */
    --accent-foreground: 190 30% 95%; /* Very light shade for text on accent color */

    --popover: 190 50% 20%; /* Darker shade for popovers */
    --popover-foreground: 190 100% 91%; /* Primary color for text */

    --border: 190 30% 40%; /* Subtle border color */
    --input: 190 30% 40%; /* Input background same as border */

    --card: 190 50% 15%; /* Card background similar to general background */
    --card-foreground: 190 100% 91%; /* Primary color for text */

    --primary: 190 100% 91%; /* Primary color */
    --primary-foreground: 190 50% 20%; /* Dark shade for text on primary color background */

    --secondary: 190 50% 60%; /* Secondary color as a lighter shade */
    --secondary-foreground: 190 30% 95%; /* Very light shade for text on secondary color */

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@keyframes animateGradientLeftToRight {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.animate-gradient-left-to-right {
  animation: animateGradientLeftToRight 5s linear infinite;
}
